# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.db
*.sqlite3


# SQLite DB (optional - keep or remove based on what we need)
signally.db

# Node / Expo
node_modules/
.expo/
dist/
build/
web-build/
SignallyApp/android/
SignallyApp/ios/

# Keys & secrets
.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDEs
.idea/
.vscode/


# Virtual environment
.venv/
venv/

# Misc
*.orig.*


