[Unit]
Description=Arm Signally Nexmon CSI capture
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/signally-csi
ExecStart=/bin/bash /home/idanyo/Signally/backend/scripts/csi_capture.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
